/*Header Section*/

header {

    font-family: 'MuseoModerno', cursive;
    font-size: 40pt;
    text-align: center;
    color: #58626E;
}

.logo-title {

    color: #CCA152;
    margin: 1em;

}

h2 {
    color: #9DB3BE;
    font-size: 23pt;
}

/*Body Section*/

body {
    background-color: #314657;
    font-family: 'Raleway', sans-serif;
}

/*Hero Section*/

#hero {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 27pt;
    color: #58626E;
    text-align: center;
}

/*Facts Section*/

#facts {
    color: #CCA152;
    font-size: 15pt;
    margin: 25px;
}

#h2 {
    margin: 25px;
}

#facts li:nth-child(odd) {
    color: #9DB3BE;
}

#facts li {
    margin: 30px;
}

/*Biography Section*/

#bio {
    color: #CCA152;
    font-size: 15pt;
    margin: 25px;
}

#bio li:nth-child(odd) {
    color: #9DB3BE;
}

/*Hobbies Section*/

.hobbies {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

#hobbies {

    margin: 40px 25px 25px 25px;
    color: #CCA152;
    border: 5px solid #58626E;
    padding: 5px;
    border-radius: 20px;
    font-size: 15pt;

}

#hobbylist {
    color: #CCA152;
    font-size: 15pt;
}

#hobbylist h2 {
    margin-left: 15px;
}

#hobbylist li:nth-child(2) {
    color: #9DB3BE;
}
  

/*Gallery Section*/

#gallery h2 {
    grid-column: 1/-1;
}

#gallery img {
    max-width:100%;
}

#gallery {
    margin-top: 40px;
    padding: 20px;
    border-color: #58626E;
    border-style: dotted;
    text-align: center;
    border-width: 8px;
    margin: 40px 25px 25px 25px;
}

figcaption {

    color: #CCA152;
    text-align: center;
    padding: 10px;
}

/*Literature Section*/

.lit {
    max-width: 100%;
    columns: 40rem;
}

#lit h2 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#lit {
    color: #CCA152;
    border: solid #58626E 5px;
    padding: 20px;
    margin: 25px;
    background-image: linear-gradient(#1D2538, #475B74)
}

#lit p:first-of-type::first-letter {
    color: #9DB3BE;
    font-family: 'Times New Roman', Times, serif;
    font-size: 5rem;
    padding: 10px;
}

/*Video Section*/

#myVideo {
    text-align: center;
    border-color: #58626E;
    border-style: dotted;
    padding-bottom: 1.6em;
    border-width: 8px;
    margin: 25px;
}

/*Form Section*/

#formfield {
    display: grid;
    border: double white 2.5px;
    border-spacing: 1em;
    border-radius: 1rem;
    border-width: 5px;
    padding:20px;
}
#contactForm {
    max-width: 1100px;
    margin:0px auto;
}

#contactForm input[type=submit] {
    max-width:200px;
    margin: auto;
    background-color: #CCA152;
    color: white;
    border: solid #CCA152;
}

#contactForm label {
    padding-top: 10px;
    padding-bottom: 10px;
}

#reply {
    border: solid white 2.5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#contact {
    text-align: center;
}

fieldset {
    color: #CCA152;
}

/*Footer*/

footer {
    margin-top: 20px;
    text-align: left;
    color: white;
}

footer img {
    float: right;
    margin-right: 1em;
}


/*Media Queries*/

@media screen and (min-width : 60em) {

    #gallery figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    figcaption {
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
    }
    #gallery hr {
        display:none;
    }

    #lit {
        max-width:100%;
        columns: 40rem;
    }

    #myVideo iframe {
        max-width: 100%;
    }
}

@media screen and (min-width: 100em) {

    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #gallery h2 {
        grid-column: 1/-1;
    }

    #gallery figure {
        display: block;
    }
}